@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.question {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $color_text_main;
    margin-bottom: 16px;
    @media (min-width: 1200px) {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 24px;
    }
}

.imageContainer {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex: 0 1 182px;
    @media (min-width: 1200px) {
        gap: 24px;
    }
}

.imageContainer__image {
    display: block;
    // max-width: 182px;
    width: 100%;
    max-height: 182px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
}